.container {
  height: calc(100vh - 44px);

  display: flex;
  align-items: start;
}

.contant {
  margin-top: 100px;

  color: #303B44;

  padding: 50px 50px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  & h1 {
    font-weight: bold;
  }
}